
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');



/* =========================== HOME SECTION ============================ */
.logo__div{
    margin: 0px;
    height: 7em;
    width: 20em;
    padding-left: 1em;
    padding-top: 1em;
    float: left;
}
.nav__div{
    height: 7em;
    margin-top: 2.5em;
    
}
.header{
    display: inline-block;
    grid-template-columns: auto auto auto;
    background-color: #000000;
    /*background: rgb(0,0,0);
background: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(24,8,50,1) 32%, rgba(28,5,64,1) 61%, rgba(0,0,0,1) 100%);
background: rgb(7,4,32);
background: linear-gradient(143deg, rgba(7,4,32,1) 0%, rgba(24,8,50,1) 32%, rgba(28,5,64,1) 59%, rgba(23,3,54,1) 100%);*/
    margin-top: 1.9em;
}

.logo__img{
    margin-bottom: .2em;
    margin-top: .2em;
}
.logo__name{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 15px;
    letter-spacing: 0.02em;
    
}

.nav-link{

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin-left: 2em;
    margin-right: 1rem;
}
.heading__text{
    width: 1008px;
    height: 545px;
    left: 216px;
    top: 406px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 90px;

}

.yellow__border{
    width: 100px;
    height: 0px;
    left: 229.49px;
    top: 345.61px;

    border: 1px solid #EFD912;
}

.margin1__img{
    width: 30%;
    margin-bottom: 1.8em;
    margin-left: 2em;
}

.margin__name{
    transform: rotate(-90deg);
    margin-left: .3em;
    color: #323344;
}
.margin{
    padding-top: 18em;
    
}

.margin2__name{
    transform: rotate(-90deg);
    color: #323344;
    
}

.margin2{
    padding-top: 10em;
}

.home{
    height: 30em;
    
}

.hero{
    min-height: 44vh;
    width: 55em;
    
    background-image: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif) ;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70%;
    margin-left: auto;
    margin-bottom: 3em;
}



